*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts or Typography */
  font-size: 18px;
  font-family: "Outfit";

  /* Colors */
  /* ------- Primary */
  --txt: hsl(215, 51%, 70%);
  --accent: hsl(178, 100%, 50%);

  /* ------- Neutral */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --border: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Variables */
  --reg-wgt: 300;
  --med-wgt: 400;
  --bol-wgt: 600;
  --radius: 20px;
  --shadow: 0 0 12px 8px rgb(0, 0, 0, 14%);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg);
}

/* NFT card */
article.card-container {
  padding: 1.25em;
  background: var(--card-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.card-container {
  max-width: 360px;
}

/* Card Image Styles */
.card-image-container {
  overflow: hidden;
  border-radius: var(--radius);
  background-image: url("./images/image-equilibrium.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 1.25rem;
}

.card-image-container::after {
  content: "";
  display: block;
  width: 100%;
  /* Size of the Image [Vertically] */
  height: 288px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* Card Content Styles */
.card-details {
  color: var(--txt);
  font-weight: var(--reg-wgt);
}

h1.headline {
  color: var(--white);
  font-size: 1.25;
  font-weight: var(--bol-wgt);
  margin-bottom: 12px;
  line-height: 1.2;
}

.about-card {
  line-height: 1.4;
  margin-bottom: 24px;
}
